node_modules/
game/dist/
android/app/src/main/assets/www/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
*.apk
*.keystore
.DS_Store
game/public/world/
game/public/art/
physics/target/
game/public/cars/*.glb
